.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:rgb(12, 217, 32);
    line-height: 3;
    text-align: center;
 }

 canvas 
 {
   border:5px solid white;
   border-radius:20px;
   box-shadow:5px 5px 5px grey;
 }

 .heading{
    
    font-size: 15px;
    box-shadow: -5px 5px 5px red ;
 }

